apiVersion: 1

providers:
  - name: 'prometheus-ds'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /etc/grafana/provisioning/datasources
